APP_NAME=orbit
AWS_REGION=eu-west-2
ENVIRONMENT=local
REPO=orbit


# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=orbit
POSTGRES_USER=postgres
POSTGRES_PASSWORD=insecure
SENTRY_DSN="dummy-dsn"



APP_URL=http://localhost:3000
AUTH_API_URL=<auth_api_url>


BACKEND_URL=http://localhost:8000


AWS_ACCOUNT_ID=<account_id>

